

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

.corpo {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column-reverse;

    justify-content: space-evenly;
    align-items: center;

    background-color: #d1c6c6;
}

.container {
    margin: 0;

    
    width: 30%;
    height: 60%;
    display: flex;

    justify-content: center;
    align-items: center;

    
    
}

.opcoes {
    align-self: flex-start;

    border: 2px solid black;

    padding: 10px;

    width: 15%;
    height: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



button {
    height: 60px;
    width: 95px;

    border-radius: 20px;
    border: 2px solid purple;


    font-size: 20px;
    font-weight: 600;

    color: purple;
    background-color: white;
}

.agora {
    background-color: purple;
    color: white;
}

button:hover {
    cursor: pointer;
}

.mensagem {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 2px solid blue;
    border-radius: 20px;

    font-size: 20px;

    background-color: white;;
}

h2 {
    margin: 0;
    color: blue;
}

.dados {
    height: 20%;
    width: 95%;


    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid black;
}

.filho {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid green;
    border-radius: 30px;

    background-color: white;
}