/* fontes importadas para a página */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*define características básicas do corpo da página*/
body {

    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;

}

/*CSS do Título para adicionar a logo*/
.titulo-gas-busters {
    margin-left: -3vh;
    color: #ffff;
    font-size: 3vh;
    cursor: pointer;
    transition: 0.3s;

}

.titulo-gas-busters::before {
    content: '';
    display: inline-block;
    background-image: url('../imgs/logo_sem_fundo.png');
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    height: 4vh;
    width: 5vh;

}

.titulo-gas-busters:hover {
    transform: scale(1.1);

}

/* Cabeçalho com uma largura de 100%, tendo sua animação de sumiço ao subir ao topo da página */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    z-index: 1000;
    /* fica na frente de outros elementos */
    transition: 0.5s;
    /* efeito ao voltar para o topo */
    box-shadow: 0 0.1vh 5vh rgb(0, 1, 5);
    

}

/*compartimento para os itens*/
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/*compartimento do cabeçalho*/
.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;

}

.header.rolar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    z-index: 1000;
    background-color: rgb(105, 13, 10);
    padding: 10px 0;
    transition: 0.15s;
    /* efeito ao sair do topo */
    box-shadow: 0vh 0.5vh 5vh rgba(0, 1, 5, 0);

}

.header.rolar .a:hover {
    color: rgb(204, 90, 86);

}

/*itens do cabeçaalho para navegação*/
.navbar {
    width: 365px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

/*cor dos itens da navbar*/
.navbar .a {
    color: #ffffff;

}

/*remover o sublinhado*/
.header a {
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.header a:hover {
    color: rgb(204, 90, 86);
}

/*negrito no presente navbar*/
.agora .a {
    font-weight: 800;
    color: rgb(204, 90, 86);

}






.corpo {
    height: 150vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #1a2a3a 0%, #0d1620 100%);
    justify-content: flex-start;
    align-items: center;
    background-color: #d1c6c6;
    overflow: auto;
}

.corpo .dados {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.dados .kpi {
    height: 80%;
    width: 70%;
    box-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #660101F2;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    overflow: auto;
    text-align: center;
    
    

}

.dados .kpi_overflow {
    height: 70%;
    width: 90%;
    box-shadow: 3px 3px 10px black;
    border: 1px solid #660101F2;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    overflow: auto;
    text-align: center;

}

.kpi_container {
    height: 65%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.dados .kpi_container .kpi{
    margin-top: 2vh;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dados .kpi_overflow {
    margin-top: 2vh;
    width: 100%;
    height: 100%;

}




.textoKPI{
    background-color: #ffffff;
    padding: 20px;
    
}

.kpi_container h3 {
    text-align: center;
    color: rgb(146, 0, 0);

}

.kpi_container h4 {
    margin: 10px;

}

.corpo .container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px ;

}

.corpo .container h3 {
    color: rgb(146, 0, 0);
    background-color: #ffffff;
    border-radius: 0 ;
    padding: 10px;
    font-size: 28px;
    text-align: center;
}

.aviso {
    width: 50%;
    height: 65%;
    box-shadow: 3px 3px 10px black;
    overflow: auto;
    color: #000000;
    border: 1px solid #660101F2;
    border-radius: 30px;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.aviso h2{

    font-size: 60px;


}

.alerta {
    color: rgb(204, 90, 86);
}

.certo {
    color: rgb(59, 160, 0);

}

