/* fontes importadas para a página */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*define características básicas do corpo da página*/
body {

    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;

}

/*define o tamanho do cabeçalho, rodapé e banner, para que um não sobreponha o outro*/
:root {
    --tamanho-header: 80px;

}

/*CSS do Título para adicionar a logo*/
.titulo-gas-busters {

    margin-left: -3vh;
    color: #ffff;

    font-size: 3vh;
    cursor: pointer;
    transition: 0.3s;
}

.titulo-gas-busters::before {
    content: '';
    display: inline-block;

    background-image: url('../imgs/logo_sem_fundo.png');
    background-position: center;
    background-size: cover;

    vertical-align: middle;

    height: 4vh;
    width: 5vh;
}




.titulo-gas-busters:hover {
    transform: scale(1.1);
}

/* Cabeçalho com uma largura de 100%, tendo sua animação de sumiço ao subir ao topo da página */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    z-index: 1000;
    /* fica na frente de outros elementos */
    transition: 0.5s;
    /* efeito ao voltar para o topo */
    box-shadow: 0 0.1vh 5vh rgb(0, 1, 5);

}

/*animação do header para aparecer ao descer a página*/
.header.rolar {

    height: var(--tamanho-header);
    background-color: rgb(105, 13, 10);
    padding: 10px 0;
    transition: 0.5s;
    /* efeito ao sair do topo */
    box-shadow: 0vh 0.5vh 5vh rgba(0, 1, 5, 0);
}

.header.rolar .a:hover {
    color: rgb(204, 90, 86);

}

/*compartimento para os itens*/
.container {

    display: flex;
    width: 80%;
    margin: auto;
}

/*compartimento do cabeçalho*/
.header .container {

    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
}

/*itens do cabeçaalho para navegação*/
.navbar {

    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

/*efeito para fazer a página subir ao ser clicado no navbar "Início"*/
html {

    scroll-behavior: smooth;

}

/*cor dos itens da navbar*/
.navbar .a {
    color: #ffffff;

}

/*remover o sublinhado*/
.header a {
    text-decoration: none;
    transition: 0.3s;
}

.header a:hover {
    color: rgb(204, 90, 86);
}

/*negrito no presente navbar*/
.agora .a {
    font-weight: 800;
    color: rgb(204, 90, 86);

}







.corpo1 {
    width: 100%;
    height: 70vh;
    background: linear-gradient(135deg, #1a2a3a 0%, #0d1620 100%);

}

.imageFundo img {
    height: 50vh;
    width: auto;
    margin-top: 32vh;
    margin-left: 57vw;
    box-shadow: 2.5vh 2.5vh 1.9vh rgb(0, 2, 10);
    animation: aparecerSumir 2s ease-in-out 1;

}

.boasVindas h1 {
    width: 30vw;
    height: auto;
    margin-left: 12vw;
    margin-top: -53vh;
    font-size: 4vw;
    color: rgb(204, 90, 86);
    animation: aparecerSumir 2s ease-in-out 1;

}

.contexto {
    width: 30vw;
    height: auto;
    color: #ffffffb2;
    margin-left: 10vw;
    font-size: 1.4vw;
    animation: aparecerSumir 2s ease-in-out 1;
    font-family: Times;
    font-weight: bold;
}

.botoesMenu {
    margin-left: 12vw;
    margin-top: 7vh;
    animation: aparecerSumir 2s ease-in-out 1;

}

.botaoServicos {
    padding: 2vh;
    background-color: rgb(204, 90, 86);
    border: 0.3vh solid rgb(204, 90, 86);
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;

}

.botaoEquipe {
    padding: 2vh;
    background-color: rgba(204, 90, 86, 0);
    border: 0.3vh solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin-left: 1vw;
    transition: 0.5s;

}

.botaoServicos:hover {
    background-color: rgb(85, 18, 16);
    border: 0.3vh solid rgb(85, 18, 16);
    cursor: pointer;


}


.botaoEquipe:hover {
    background-color: #fff;
    color: #0d1620;
    cursor: pointer;


}


@keyframes aparecerSumir {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}


.corpo2 {
    width: 100%;
    height: 70vh;
    background: linear-gradient(45deg, #1a2a3a 0%, #0d1620 100%);

}

.corpo3 {
    width: 100%;
    height: 50vh;
    margin-bottom: -2vh;
    background-color: rgb(231, 231, 231);

}

.minerTrabaiando img {
    height: 17vh;
    width: auto;
    margin-top: 20vh;
    margin-left: 70vw;

}

.minerCorrendo img {
    height: 40vh;
    width: auto;
    margin-top: -100vh;
    margin-bottom: -3vh;
    animation: andar 3s linear
        /*alternate - ida e volta*/
        infinite
}

.alertaAlerta img {
    height: 1.2vh;
    width: auto;
    margin-left: 76vw;
    margin-top: -30vh;
    margin-bottom: 5.5vh;
    animation: sombraAlerta 01s linear alternate infinite
}

.textoAlerta h1 {
    width: 50vw;
    height: auto;
    z-index: -1;
    margin-top: -16vh;
    margin-left: 11vw;
    font-size: 2.5vw;
    color: #0d162046;
    font-family: cursive;
}



@keyframes andar {
    0% {
        margin-left: -5vw;
        opacity: 0;
    }

    10% {
        margin-left: 5vw;
        opacity: 1;
    }

    25% {
        margin-left: 20vw;
        opacity: 1;
    }

    50% {
        margin-left: 40vw;
        opacity: 1;
    }

    75% {
        margin-left: 55vw;
        opacity: 1;
    }

    100% {
        margin-left: 79.5vw;
        opacity: 0;
    }

}



@keyframes sombraAlerta {
    0% {
        filter: drop-shadow(0 0.2vh 0.2vh #00000059);
    }

    25% {
        filter: drop-shadow(0 1vh 1vh #00000059) drop-shadow(0 0.7vh 0.2vh #b60606);
    }

    50% {
        filter: drop-shadow(0 0.2vh 0.2vh #00000059);
    }

    100% {
        filter: drop-shadow(0 1vh 1vh #00000059) drop-shadow(0 0.7vh 0.2vh #b60606);
    }

}

.corpo4 {
    width: 100%;
    height: 160vh;
    background: linear-gradient(180deg, #1a2a3a 0%, #0d1620 100%);
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    align-items: center;
    margin-bottom: -60vh;

}


.eles h1 {
    color: #ffffff;
    margin-left: 38vw;
    margin-top: -120vh;
    font-size: 3vw;

}

.imageDavi img {
    height: 35vh;
    width: auto;
    border-radius: 20px;
    margin-left: 2.4vw;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);

}

.imageMeki img {
    height: 35vh;
    width: auto;
    border-radius: 20px;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);

}

.imageRenan img {
    height: 35vh;
    width: auto;
    border-radius: 20px;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);

}

.imageHenry img {
    height: 35vh;
    width: auto;
    border-radius: 20px;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);


}

.imageEnrico img {
    height: 35vh;
    width: auto;
    border-radius: 20px;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);


}


.imageMeki {
    position: relative;
    display: inline-block;

}

.imageMeki .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    /* cobre toda a imagem */
    width: 17.4vw;
    background: rgba(0, 0, 0, 0.808);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vh;
    text-align: center;
    padding: 1vh;
    box-sizing: border-box;
    margin-left: -0.08vh;

}

.imageMeki:hover .card-overlay {
    opacity: 1;

}





.imageDavi {
    position: relative;
    display: inline-block;

}

.imageDavi .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    /* cobre toda a imagem */
    width: 17.3vw;
    background: rgba(0, 0, 0, 0.808);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vh;
    text-align: center;
    padding: 1vh;
    box-sizing: border-box;
    margin-left: 2.369vw;

}

.imageDavi:hover .card-overlay {
    opacity: 1;

}




.imageRenan {
    position: relative;
    display: inline-block;

}

.imageRenan .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    /* cobre toda a imagem */
    width: 17.3vw;
    background: rgba(0, 0, 0, 0.808);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vh;
    text-align: center;
    padding: 1vh;
    box-sizing: border-box;
    margin-left: -0.08vh;

}

.imageRenan:hover .card-overlay {
    opacity: 1;

}


.imageEnrico {
    position: relative;
    display: inline-block;

}

.imageEnrico .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    /* cobre toda a imagem */
    width: 17.3vw;
    background: rgba(0, 0, 0, 0.808);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vh;
    text-align: center;
    padding: 1vh;
    box-sizing: border-box;
    margin-left: -0.04vh;

}

.imageEnrico:hover .card-overlay {
    opacity: 1;

}




.imageHenry {
    position: relative;
    display: inline-block;

}

.imageHenry .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    /* cobre toda a imagem */
    width: 17.3vw;
    background: rgba(0, 0, 0, 0.808);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vh;
    text-align: center;
    padding: 1vh;
    box-sizing: border-box;
    margin-left: -0.08vh;

}

.imageHenry:hover .card-overlay {
    opacity: 1;

}




.corpo5 {
    width: 100%;
    height: 70vh;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-wrap: wrap;
    gap: 15vw;
    align-items: center;

}

.imageUnion img {
    height: 30vh;
    width: auto;
    display: block;
    margin-left: 7.9vw;

}

.imageUnion {
    position: relative;
    display: inline-block;

}

.imageUnion .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 14.95vw;
    background: rgba(105, 13, 10, 0.904);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 7.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.imageUnion:hover .card-overlay {
    opacity: 1;

}







.imageLupa img {
    height: 30vh;
    width: auto;

}

.imageLupa {
    position: relative;
    display: inline-block;

}

.imageLupa .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 20.7vw;
    background: rgba(105, 13, 10, 0.904);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.imageLupa:hover .card-overlay {
    opacity: 1;

}





.imageRespect img {
    height: 30vh;
    width: auto;

}

.imageRespect {
    position: relative;
    display: inline-block;

}

.imageRespect .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 18.1vw;
    background: rgba(105, 13, 10, 0.904);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.imageRespect:hover .card-overlay {
    opacity: 1;

}







.corpo6 {
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, #1a2a3a 0%, #0d1620 100%);
    display: flex;
    flex-wrap: wrap;
    gap: 15vw;
    align-items: center;

}

.imageSQL img {
    height: 30vh;
    width: 22vw;
    margin-left: 4.4vw;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);

}


.imageSQL {
    position: relative;
    display: inline-block;

}

.imageSQL .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 22vw;
    background: rgba(2, 0, 17, 0.904);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 4.4vw; 

}

.imageSQL:hover .card-overlay {
    opacity: 1;

}







.imageMQ2 img {
    height: 30vh;
    width: auto;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);

}


.imageMQ2 {
    position: relative;
    display: inline-block;

}

.imageMQ2 .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 14.77vw;
    background: rgba(2, 0, 17, 0.904);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.imageMQ2:hover .card-overlay {
    opacity: 1;

}







.imageAPI img {
    height: 30vh;
    width: auto;
    box-shadow: 1.3vw 2.7vh 3vh rgba(0, 1, 5, 0.63);

}


.imageAPI {
    position: relative;
    display: inline-block;

}

.imageAPI .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 22.27vw;
    background: rgba(2, 0, 17, 0.904);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.imageAPI:hover .card-overlay {
    opacity: 1;

}



/* do rodapé em diante*/
/* rodapé */
.footer {
    background-color: rgb(105, 13, 10);
    height: 12vh;
    color: #fff;
    display: flex;
    font-size: 15px;

    margin-bottom: -18vh;

}


/* compartimento do rodapé */
.footer .container {
    justify-content: center;
    text-align: center;

}


/* itens inseridos no rodapé */
.rodape .conteudo {
    max-width: 800px;
    margin: 0 auto;

}


/* símbolo de marca registrada ® */
.marca-registrada {
    font-size: 1em;
    vertical-align: super;
    margin-left: 2px;
}


/* classe referente as redes sociais */
.redes-sociais {
    margin-top: 15px;

}


/* link das redes sociais */
.redes-sociais a {
    margin: 0 10px;
    display: inline-block;
    /* ou seja, oculta o link de direcionamento */

}


/* ícone (imagem) que representa a específica rede social*/
.redes-sociais img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    /* deixa branco se o ícone for escuro */
    transition: transform 0.3s;

}


/* define o tamanho em que a imagem crescerá quando o mouse passar por cima */
.redes-sociais a:hover img {
    transform: scale(1.2);
}